<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">{{film?.title}}</h2>
      <h3 class="section-subheading text-muted"></h3>
    </div>

<div class="row">
  <div class="col-4">

    <div class="card">
      <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{film?.poster_path}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{film?.title}}</h5>
        <p class="card-text">{{film?.release_date}}</p>

        <a *ngIf="(isFavorites$ | async)" class="btn btn-primary" (click)="removeFromFavorite()">Film von Favoriten entfernen</a>
        <a  *ngIf="!(isFavorites$ | async)" class="btn btn-primary" (click)="addToFavorite()">Film zu Favoriten hinzufügen</a>
      </div>
    </div>

  </div>

  <div class="col-8">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Details zum Film</h5>
        <p class="card-text">{{film?.overview}}</p>
        <p *ngFor="let genre of film?.genres"> {{genre.name}}</p>
      </div>
    </div>

  </div>

</div>
  </div>
</section>
