



<section class="page-section bg-light" id="portfolio">
  <div class="container">


    <div class="row">
      <label class="col-sm-1 col-form-label" style="text-align: right">Genres</label>

      <div class="col-sm-4">
        <ng-select
          [items]="genres"
          bindLabel="name"
          appendTo="body"
          [multiple]="true"
          [(ngModel)]="selectedGenres"
          name="inputGenres">
          <ng-option *ngFor="let genre of genres" [value]="genre.name">{{genre.name }}</ng-option>
        </ng-select>

        <div class="text-center">
          <button  type="submit" class="btn btn-outline-info" (click)="search()">Search</button>
        </div>
      </div>
    </div>
  </div>

  <app-films  [films]=films></app-films>

</section>
