.footer {
  background-color: #212121;
  padding: 1rem 0rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer p {
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 1;
  color: #abb7c4;
}
