<footer class="footer">
    <div class="row">
      <div class="col-lg-12 text-center">
        <br>
        <br>
        <p>&copy; 2022 Luqman & Cristoph & Fabian. All rights reserved. </p>
        <br>
      </div>
    </div>
</footer>
