<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" routerLink="/start"><p>Movie-Kenner</p></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="/home">Aktuelles</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/popular">Populärste Filme</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/best">Beste Filme</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/favorite">Favoriten</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/genre">Genres</a></li>
      </ul>
    </div>
  </div>
</nav>
