<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h1 class="section-heading text-uppercase">Aktuelle Filme</h1>
      <h3 class="section-subheading text-muted">Hier sind die aktuellen Filme ersichtlich.</h3>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6 mb-4">
        <h3 class="center">Suche nach einem Film</h3>
        <!-- Search input-->
        <input class="form-control" id="inputSearch" type="text"
               placeholder="Film hier eingeben..." [(ngModel)]="searchInput" (ngModelChange)="searchFilms()"/>
      </div>
    </div>

    <app-films  [films]=films></app-films>

  </div>
</section>
