<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Favoriten</h2>
      <h3 class="section-subheading text-muted">Hier sind die favoritisierten Filme ersichtlich</h3>
    </div>

    <app-films  [films]=favoriteFilms></app-films>

  </div>
</section>
