<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Willkommen zum Movie-Kenner!</div>
    <div class="masthead-heading text-uppercase">Alle Infos zu Schweizerfilme</div>
    <br>
    <button class="btn btn-primary btn-xl text-uppercase" (click)="showMovies()">Siehe Filme</button>
  </div>
</header>
