<div class="row">
  <div class="col-lg-4 col-sm-6 mb-4"  *ngFor="let film of films">
    <!-- Portfolio item 1  -->
    <div class="portfolio-item" >
      <a class="portfolio-link" data-bs-toggle="modal" [routerLink]="'/detail/' + film.id">

        <div class="card-img-overlay">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x">See Details</i></div>

          </div>
        </div>
        <img class="img-fluid" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{film.poster_path}}" alt="..." />
      </a>
      <div class="portfolio-caption">
        <div class="portfolio-caption-heading">{{film.title}}</div>
        <div class="portfolio-caption-subheading text-muted">{{film.release_date}}</div>
      </div>
    </div>
  </div>
</div>
