<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Populäre Filme</h2>
      <h3 class="section-subheading text-muted">Hier sind die populärsten Filme ersichtlich.</h3>
    </div>

    <app-films  [films]=films></app-films>

  </div>
</section>
